<?xml version="1.0"?>
<configuration>
	
	<appSettings>
    <add key="AWSAccessKey" value="your access key id"/>
    <add key="AWSSecretKey" value="your secret access key"/>

    <!-- 
			What Simple Notification Service (SNS) topics should alarm alerts be sent to?
      Specify the topic Amazon Resource Names (ARNs) - seperated by commas for multiple targets.
		-->
    <add key="AlarmSNSTopics" value="arn:aws:sns:us-west-1:123456789:topic-title"/>

    <!-- 
			How often should metrics be sumitted to CloudWatch?
			Specify the number of minutes between each submission.
		-->
		<add key="MonitorPeriodInMinutes" value="1"/>
		
		<!-- Disk Metrics -->
		
		<!-- 
			Uncomment IncludeDrives to specify which drives to include.
			If omitted or blank, all drives are included.
			Values are comma-separated.
		-->
		<!-- <add key="IncludeDrives" value="D,E"/> -->
		
		<add key="SubmitDiskSpaceAvailable" value="True"/>
		<add key="SubmitDiskSpaceUsed" value="True"/>
		<add key="SubmitDiskSpaceUtilization" value="True"/>
		
		<!-- Memory Metrics -->
		
		<!-- 
			Memory = Physical Memory + Virtual Memory
		-->
		
		<add key="SubmitMemoryAvailable" value="True"/>
		<add key="SubmitMemoryUsed" value="True"/>
		<add key="SubmitMemoryUtilization" value="True"/>
		<add key="SubmitPhysicalMemoryAvailable" value="True"/>
		<add key="SubmitPhysicalMemoryUsed" value="True"/>
		<add key="SubmitPhysicalMemoryUtilization" value="True"/>
		<add key="SubmitVirtualMemoryAvailable" value="True"/>
		<add key="SubmitVirtualMemoryUsed" value="True"/>
		<add key="SubmitVirtualMemoryUtilization" value="True"/>

		<!-- 
			By default, the app will try to automatically detect the 
			instance id and region.  If you want to override that,
			specify them below.
		-->
		<add key="InstanceId" value=""/>
		
		<!-- us-east-1, us-east-2, eu-east-1, etc. -->
		<add key="Region" value=""/>
		
	</appSettings>
	
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
	
</configuration>
