<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- 
      Leave these blank to use an IAM role on your EC2 instance.
      
      Otherwise, populate AWSAccessKey and AWSSecretKey to use a specific IAM
      user credentials.
    -->
		<add key="AWSAccessKey" value="" />
		<add key="AWSSecretKey" value="" />

    <!-- 
      By default, the current running region will be used. If it cannot be determined
      (perhaps because you're not running the monitor on an EC2 instance), or you want to change
      the region to which the metrics are sent, then specify a region here.
      Examples: us-east-1, us-east-2, eu-east-1, etc. 
    -->
    <add key="AWSRegion" value=""/>
    
		<!-- 
			How often should metrics be sumitted to CloudWatch?
			Specify the number of minutes between each submission.
		-->
		<add key="MonitorPeriodInMinutes" value="1"/>
		
		<!-- Disk Metrics -->
		
		<!-- 
			Uncomment IncludeDrives to specify which drives to include.
			If omitted or blank, all drives are included.
			Values are comma-separated.
		-->
		<!-- <add key="IncludeDrives" value="D,E"/> -->
		
		<add key="SubmitDiskSpaceAvailable" value="True"/>
		<add key="SubmitDiskSpaceUsed" value="True"/>
		<add key="SubmitDiskSpaceUtilization" value="True"/>
		
		<!-- Memory Metrics -->
		
		<!-- 
			Memory = Physical Memory + Virtual Memory
		-->
		
		<add key="SubmitMemoryAvailable" value="True"/>
		<add key="SubmitMemoryUsed" value="True"/>
		<add key="SubmitMemoryUtilization" value="True"/>
		<add key="SubmitPhysicalMemoryAvailable" value="True"/>
		<add key="SubmitPhysicalMemoryUsed" value="True"/>
		<add key="SubmitPhysicalMemoryUtilization" value="True"/>
		<add key="SubmitVirtualMemoryAvailable" value="True"/>
		<add key="SubmitVirtualMemoryUsed" value="True"/>
		<add key="SubmitVirtualMemoryUtilization" value="True"/>

		<!-- 
			By default, the app will try to automatically detect the 
			instance id and region.  If you want to override that,
			specify them below.
		-->
    <add key="InstanceId" value="" />
		
	</appSettings>
	
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
	
</configuration>
